{% extends "base.html" %}
{% block title %} Home page {% endblock %}
{% block content %}
<div class="w-75 h-100 d-flex flex-column mt-5">
    <div class="custom-file">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input class="custom-file-input" id="customFile" type="file" name="file" accept=".csv">
            <label class="custom-file-label" for="customFile">Wybierz plik</label>
            <button class="btn btn-secondary w-100 mt-3" type="submit" onClick="alert('Wysłano plik')">Wyślij</button>
        </form>

        {% if error_message %}
            <script>
                alert("{{ error_message }}")
            </script>
        {% endif %}
    </div>
</div>

<!-- Dodanie JavaScript do obsługi nazwy wybranego pliku -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    // Funkcja do wyświetlania nazwy wybranego pliku
    $('#customFile').on('change', function() {
        // Pobieramy nazwę pliku
        var fileName = $(this).val().split('\\').pop();
        // Ustawiamy nazwę pliku w etykiecie
        $(this).next('.custom-file-label').html(fileName);
    });
</script>
{% endblock %}
